ul {
    padding-top: 2rem;
    list-style: none;
}

li div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

li div h3 {
    text-transform: uppercase;
}

.btn {
    margin-top: 5px;
    background-color: rgb(141, 14, 14);
    border-color: rgb(114, 59, 59);
}

.noArticles {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
    text-transform: uppercase;
}

img {
    max-width: 200px;
    height: auto;
    margin-top: 10px;
}